.sensorList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.sensorList > div {
    border: none;
    border-radius: 10px;
    width: 550px;
    margin-bottom: 20px;

    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
}