.sensorList {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.sensorList > div {
    border: none;
    border-radius: 10px;
    min-width: 550px;
    margin-bottom: 20px;

    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3);
}