.nav, .nav > li {
    list-style: none;
    float: left;
}

li > a:link, li > a:visited {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    color: #000099;
    margin-left: 5px;
}

li > a:active, li > a.active, li > a:hover {
    background-color: #CCCCCC;
    color: #0000CC;
}