* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #app-root, .page-section, .page-wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .page-wrapper {
    display: flex;
    flex-direction: column;

    .page-content {
      flex: auto;
      background-color: #c8e2ff;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 30px;

      -webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);
      -moz-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);
      box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);
    }
  }
}