.container {
    width: 100%;
}

.container > a {
    margin-bottom: 22px;
    display: block;
    text-decoration: none;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.details > div {
    flex: 1;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.details > div.sensorDetails div {
    margin-bottom: 22px;
}

.details > div.sensorDetails div span {
    font-weight: 700;
}

h2 {
    padding-bottom: 30px;
    text-align: center;
}

.sensorEventsDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    font-weight: 700;
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
}

.running {
    color: #f6c244;
}

.finished {
    color: #53a451;
}

.repaired {
    color: #347bf6;
}

.errored {
    color: #990000;
}

.idle {
    color: #4ba0b5;
}