.container {
  width: 100%;

  > a {
    margin-bottom: 22px;
    display: block;
    text-decoration: none;
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;

    > div {
      flex: 1;
      background-color: #FFFFFF;
      padding: 30px;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
      -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);

      &.sensorDetails {
        div {
          margin-bottom: 22px;

          span {
            font-weight: 700;
          }
        }
      }

      .sensorEventsDetails {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
      }
    }
  }
}